
@model List<update_site.Entities.Update>



<div class="Content">
<h3>@ViewBag.Title</h3>
<table id="UpdateList" class="table">
        <tr>
            <th>KB</th>
            <th>Update Name</th>
            <th>Description</th>
        </tr>

        @foreach (var update in Model)
        {
            <tr>
                <td>@update.KBNumber</td>
                <td>@update.Name</td>
                <td>@update.Descripton</td>
           </tr>
        }   

</table>
</div>