@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div class="Content">

    @Html.ActionLink("Updates","Updates") <br/>
    @Html.ActionLink("Drivers","Drivers") <br/>
    @Html.ActionLink("Computers", "Computers") <br/>
    @Html.ActionLink("Companies","Companies") <br/>

</div>