body
{
    width: 100%;
    height: 100%;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* everything
-----------------------------------------*/

.Content 
{
    background: rgba(255,255,255, .6);
    margin: 15% auto;
    width: 40%;
    border-radius: 25px;
    -moz-animation-duration: 3s;
    animation-delay: 2s; 
}

.Content Table
{
    margin-top: 1%;
    overflow: hidden;
}

.Content h3
{
    text-align: center;
}

/* Drivers page
-----------------------------------------*/
.company {
    margin-left: 3%;
}

/* Windows Updates
-----------------------------------------*/
.OS {
    margin-left: 3%;
}

#UpdateList {
    overflow-y:scroll;
    height:600px;
    display:block;
}

/* Computers page
-----------------------------------------*/
.computer 
{
    display: inline-block;
    margin: 3%;
    text-align: center;
    font-size: large;
}

